<div class="container">
    <div class="points">
        <div>{{form.vote}}</div>
        <div>points</div>
    </div>
    <div class="details">
        <div>
          <a href="{{form.quote}}">{{form.name}}</a>
          <div>{{form.quote}}</div>
        </div>
     <div class="vote">
         <div (click)="vote_up()">upvote</div>
         <div (click)="vote_down()">downvote</div>
         
     </div>
     <button type="button" class="Delete">Delete</button>
     <label for="selected-date"><strong>Date issued:</strong></label>
     <input type="date" id="dob" name="dob" value="">
    </div>
</div>
