<!DOCTYPE html>
<head></head>

<div class="yote">
  <div class="intro">
  <h1>Koikai and co present</h1>
  <h2>The Koikai quote genrator 3000</h2>

<p>Welcome to the first ever quote generator application in history.</p>
<p>Here you can get cretive ad write some of the best quote that you have heard in your life time.</p>
   </div> 



<div class="container">
  <h4>Add your best quote here</h4>

<div class="name_container">
 <label for="name">Name :</label>
 <input type="text" id="name" #name>
</div>
<div class="quote_container">
  <label for="quote">Quote :</label>
  <input type="text" id="quote" #quote>
</div>
  
  <button class="submit-btn"(click)="add_quote(name, quote)">Enter here</button>
  </div>

  <!--form component-->
  <div>
  <app-form *ngFor="let form of form"[form]="form"></app-form>
  
  </div>
</div>
