<!DOCTYPE html>
<head></head>

<div class="yote">
  <div class="intro">
  <h1>Koikai and co present</h1>
  <h2>The Koikai quote generator 3000</h2>

  <img src="../assets/EMTkWNeWkAA0FeX.jpg" >
  


<p>Welcome to the first ever quote generator application in history.</p>
<p>Here you can get creative and write some of the best quote that you have heard in your life time.</p>

   </div> 



<div class="container">
  <h4>Add your best quote here</h4>

<div class="name_container">
 <label for="name">Name : Write the name of the <strong><em>author</em></strong> or <strong><em>publisher</em></strong></label>
 <input type="text" id="name" #name>
</div>

<h4> Time to write your quote </h4>
<p>Write your quote below and see it pop up!</p>
<div class="quote_container">
  <label for="quote">Quote Generator : Be <strong><em>creative</em></strong>
  </label>
  <input type="text" id="quote" #quote>
</div>

<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

</div>
<p> Below we can see a few quotes by some of our users</p>
<p> Vote for which you like best</p>







  
  <button class="submit-btn"(click)="add_quote(name, quote)">Enter here</button>
  </div>

  <!--form component-->
  <div>
  <app-form *ngFor="let form of form"[form]="form"></app-form>
  
  </div>
</div>
